<%- include ../build/head.ejs %>
<body>
    <div class="main">
        <span class="mike">Mike</span>
        <div class="menu">
            <a href="#">
                <div class="button">
                    Home
                </div>
            </a>
            <a href="https://discord.gg/hfGSb8y">
                <div class="button">
                    Support
                </div>
            </a>
            <a href="https://discordapp.com/oauth2/authorize?client_id=419620594645073930&permissions=8&scope=bot">
                <div class="button">
                    Invite
                </div>
            </a>
            <a href="/commands">
                <div class="button">
                    Commands
                </div>
            </a>
        </div>
        <div class="logo">
            <img src="public/img/logo.png">
            <div class="subtitle">Discord Bot for <span class="blurple">@everyone</span></div>
        </div>
        <div class="down">
            <div class="servers">
                <span class="title">
                    Servers that use Mike
                </span>
                <div class="container">
                    <% for(let i=0; i < data.length; i++) { %>
                    <div class="server">
                        <% if (data[i].splashURL) { %>
                        <span class="banner">
                            <img src="<%= data[i].splashURL %>?size=512">
                        </span>
                        <% } else { %>
                            <div class="noSplash"></div>
                        <% } %>
                        <% if (data[i].verified) { %>
                        <span class="badge">
                            <img src="public/img/verified.png">
                        </span>
                        <% } %>
                        <span class="name">
                            <%= data[i].name %>
                        </span>
                        <span class="members">
                            &#x25cf <%= data[i].memberCount %> Members
                        </span>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>