.settings .setting {
  width: 400px;
  height: 150px;
  background-color: #23272A;
  float: left;
  text-align: center;
  margin: 10px;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}

.settings .setting .name {
  position: absolute;
  font-size: 20px;
  top: 60px;
  left: 30px;
  text-align: right;
}

.settings .setting .save {
  position: absolute;
  font-size: 15px;
  bottom: 10px;
  right: 10px;
  text-align: right;
  background-color: #1aa855;
  padding: 2px 5px;
  border-radius: 10%;
}

.settings .setting .switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 55px;
  right: 30px;
}

.settings .setting .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.settings .setting .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.settings .setting .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.settings .setting .switch input:checked + .slider {
  background-color: #ffe680;
}

.settings .setting .switch input:focus + .slider {
  box-shadow: 0 0 1px #ffe680;
}

.settings .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.settings .setting .switch .slider.round {
  border-radius: 34px;
}

.settings .setting .switch .slider.round:before {
  border-radius: 50%;
}

.settings .prefix {
    position: absolute;
    top: 50px;
    right: 70px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
   padding: 10px 20px;
   border: 1px solid #3f3f3f;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   color: rgba(255,255,255,1);
   -o-text-overflow: clip;
   text-overflow: clip;
   background: rgba(89,89,89,1);
   -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
   box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
   -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
   -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
   -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
   transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
   width: 20px;,
}
